<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Barron Family Cookbook</title>
    </head>
    <body>
        <p>Hello recipe!</p>
        <form method="post" action="/api/recipe/add">
            <label>Title</label>
            <input type="text" name="title"></input>
            <label>Author</label>
            <input type="text" name="author"></input>
            <label>Background</label>
            <input type="text" name="background"></input>
            <label>Ingredients</label>
            <input type="text" name="ingredients"></input>
            <label>Cooking Time</label>
            <input type="text" name="time"></input>
            <label>Directions</label>
            <input type="text" name="directions"></input>
            <label>Image</label>
            <input type="text" name="image"></input>
            <input type="submit">
        </form>
    </body>
</html>
