<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Barron Family Cookbook</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
    </head>
    <body>
        <nav>
            <a href="/"><h1>Barron Family Cookbook</h1></a>
        </nav>
        <section class="recipe-form">
            <form method="post" action="/api/recipe/add">
                <label>Title:</label>
                <input type="text" name="title"></input>
                <label>Author:</label>
                <input type="text" name="author"></input>
                <label>Background:</label>
                <input type="text" name="background"></input>
                <label>Ingredients:</label>
                <textarea type="text" name="ingredients"></textarea>
                <label>Cooking Time:</label>
                <input type="text" name="time"></input>
                <label>Directions:</label>
                <textarea type="text" name="directions"></textarea>
                <label>Image URL:</label>
                <input type="text" name="image"></input>
                <div><input type="submit"></div>
            </form>
        </section>
    </body>
</html>
