<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Barron Family Cookbook</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <link rel="shortcut icon" href="/static/public/images/favicon.ico" />
    </head>
    <body>
        <nav>
            <a href="/"><h1>Barron Family Cookbook</h1></a>
        </nav>
        <section id="recipe-content">
        </section>
    </body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/public/js/script.js"></script>
</html>
