<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Barron Family Cookbook</title>
    </head>
    <body>
        <section id="recipe-content">
            <div class="recipe">
                <h1>Maree's Lasagne</h1>
                <p>Recipe of: Maree Garrett</p>
                <p>Cooking time: 1 hour</p>
                <img src='#'>
                <p>This lasagne has been cooked by Barrons for over a decade. A particularly good recipe for secretly feeding children green vegetables.</p>
                <h3>Ingredients:</h3>
                <ul>
                    <li>1 box of fresh lasagne sheets</li>
                    <li>1 tub of cottage cheese</li>
                    <li> 1 tub of cream cheese</li>
                    <li>1 bunch of spinach</li>
                </ul>
                <h3>Directions</h3>
                <p>1. Put the lasagne sheets in a dish</p>
            </div>

        </section>
    </body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/public/js/script.js"></script>
</html>
