@font-face {
    font-family: 'Grandesign-Neue-Roman-Bold';
    src:url('/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.woff') format('woff'),
        url('/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.svg#Grandesign-Neue-Roman-Bold') format('svg'),
        url('/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.eot'),
        url('/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone-Kaffeesatz';
    src:url('/static/public/fonts/Yanone-Kaffeesatz.ttf.woff') format('woff'),
        url('/static/public/fonts/Yanone-Kaffeesatz.ttf.svg#Yanone-Kaffeesatz') format('svg'),
        url('/static/public/fonts/Yanone-Kaffeesatz.ttf.eot'),
        url('/static/public/fonts/Yanone-Kaffeesatz.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berenis-ADF-Pro-Italic';
    src:url('/static/public/fonts/Berenis-ADF-Pro-Italic.ttf.woff') format('woff'),
        url('/static/public/fonts/Berenis-ADF-Pro-Italic.ttf.svg#Berenis-ADF-Pro-Italic') format('svg'),
        url('/static/public/fonts/Berenis-ADF-Pro-Italic.ttf.eot'),
        url('/static/public/fonts/Berenis-ADF-Pro-Italic.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OPTIBodoniAntiqua-Medium';
    src:url('/static/public/fonts/OPTIBodoniAntiqua-Medium.ttf.woff') format('woff'),
        url('/static/public/fonts/OPTIBodoniAntiqua-Medium.ttf.svg#OPTIBodoniAntiqua-Medium') format('svg'),
        url('/static/public/fonts/OPTIBodoniAntiqua-Medium.ttf.eot'),
        url('/static/public/fonts/OPTIBodoniAntiqua-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
