html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  -webkit-appearance: none; }

@font-face {
  font-family: 'Grandesign-Neue-Roman-Bold';
  src: url("/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.woff") format("woff"), url("/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.svg#Grandesign-Neue-Roman-Bold") format("svg"), url("/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.eot"), url("/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Yanone-Kaffeesatz';
  src: url("/static/public/fonts/Yanone-Kaffeesatz.ttf.woff") format("woff"), url("/static/public/fonts/Yanone-Kaffeesatz.ttf.svg#Yanone-Kaffeesatz") format("svg"), url("/static/public/fonts/Yanone-Kaffeesatz.ttf.eot"), url("/static/public/fonts/Yanone-Kaffeesatz.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Berenis-ADF-Pro-Italic';
  src: url("/static/public/fonts/Berenis-ADF-Pro-Italic.ttf.woff") format("woff"), url("/static/public/fonts/Berenis-ADF-Pro-Italic.ttf.svg#Berenis-ADF-Pro-Italic") format("svg"), url("/static/public/fonts/Berenis-ADF-Pro-Italic.ttf.eot"), url("/static/public/fonts/Berenis-ADF-Pro-Italic.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OPTIBodoniAntiqua-Medium';
  src: url("/static/public/fonts/OPTIBodoniAntiqua-Medium.ttf.woff") format("woff"), url("/static/public/fonts/OPTIBodoniAntiqua-Medium.ttf.svg#OPTIBodoniAntiqua-Medium") format("svg"), url("/static/public/fonts/OPTIBodoniAntiqua-Medium.ttf.eot"), url("/static/public/fonts/OPTIBodoniAntiqua-Medium.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
html {
  color: #333333; }

h1 {
  font-family: 'Grandesign-Neue-Roman-Bold'; }

h2, h4, label {
  font-family: 'Yanone-Kaffeesatz';
  text-transform: uppercase;
  letter-spacing: 2px; }

i, input[type="submit"] {
  font-family: 'Berenis-ADF-Pro-Italic';
  letter-spacing: 2px;
  text-transform: lowercase; }

p, li {
  font-family: 'OPTIBodoniAntiqua-Medium';
  letter-spacing: 1px; }

nav {
  text-align: center; }
  nav a {
    text-decoration: none; }
  nav h1 {
    color: #EF4229;
    font-size: 60px;
    letter-spacing: 2px;
    margin: 20px 10px 20px 10px;
    text-transform: lowercase; }
  @media (max-width: 650px) {
    nav h1 {
      font-size: 40px; } }
  nav p {
    font-size: 26px;
    margin-top: 20px; }

header {
  align-items: flex-end;
  background-image: url("http://www.hugscafe.org/wp-content/uploads/2014/05/157_1background3.jpg");
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  height: 500px;
  padding: 0 0 80px 0;
  text-align: center; }
  @media (max-width: 650px) {
    header {
      height: 300px; } }
  header .button {
    background-color: #333333;
    box-sizing: border-box;
    cursor: pointer;
    height: 70px;
    margin: 0 auto;
    padding: 10px;
    width: 270px; }
    header .button button {
      background-color: #333333;
      border: 1px solid white;
      color: #FFF;
      cursor: pointer;
      height: 50px;
      font-size: 24px;
      font-style: italic;
      text-transform: lowercase;
      width: 250px; }

.recipes-gallery {
  min-height: 30vh;
  padding: 50px 10px;
  text-align: center; }
  @media (max-width: 650px) {
    .recipes-gallery {
      padding: 30px 5px; } }
  .recipes-gallery h2 {
    font-size: 40px;
    padding-bottom: 15px; }
  @media (max-width: 650px) {
    .recipes-gallery h2 {
      font-size: 30px; } }
  .recipes-gallery .recipe-block {
    box-sizing: border-box;
    display: inline-block;
    min-height: 375px;
    margin: 20px;
    padding: 10px 10px 15px 10px;
    text-align: center;
    width: 375px; }
    @media (max-width: 650px) {
      .recipes-gallery .recipe-block {
        margin: 10px 5px 10px 5px;
        padding: 0; } }
    .recipes-gallery .recipe-block img {
      box-sizing: border-box;
      height: 300px;
      object-fit: cover;
      width: 100%; }
    @media (max-width: 650px) {
      .recipes-gallery .recipe-block img {
        height: 300px;
        width: 100%; } }
    .recipes-gallery .recipe-block p {
      color: black;
      font-size: 20px;
      font-weight: bold;
      margin: 15px;
      text-decoration: none; }
    .recipes-gallery .recipe-block hr {
      color: #B0B0B0;
      text-decoration: none;
      width: 40%; }
    .recipes-gallery .recipe-block h4 {
      color: #EF4229;
      text-decoration: none; }

.recipe {
  margin: 50px auto;
  width: 70%; }
  .recipe .title {
    border: 2px solid #8BC13F;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 50px 100px;
    text-align: left; }
    .recipe .title h2 {
      display: block;
      font-size: 40px; }
    .recipe .title h4 {
      color: #8BC13F;
      padding-top: 10px; }
  .recipe .content-row-one {
    display: flex;
    justify-content: space-between; }
    .recipe .content-row-one img {
      border: 2px solid #333333;
      box-sizing: border-box;
      height: 400px;
      margin-bottom: 30px;
      object-fit: cover;
      width: 60%; }
    .recipe .content-row-one .background {
      box-sizing: border-box;
      border: 2px solid #B0B0B0;
      margin-bottom: 30px;
      padding: 30px;
      vertical-align: top;
      width: 38%; }
      .recipe .content-row-one .background h2 {
        font-size: 26px;
        padding-bottom: 10px; }
      .recipe .content-row-one .background p {
        font-size: 18px;
        line-height: 1.3; }
  .recipe .directions {
    border: 2px solid #B0B0B0;
    padding: 30px; }
    .recipe .directions h2 {
      font-size: 26px;
      padding-bottom: 10px; }
    .recipe .directions ul, .recipe .directions .ingredients {
      padding-bottom: 30px; }
    .recipe .directions p, .recipe .directions li {
      font-size: 18px;
      line-height: 1.3; }

.recipe-form {
  margin: 50px auto;
  width: 70%; }
  .recipe-form label, .recipe-form input, .recipe-form textarea {
    display: block; }
  .recipe-form label {
    margin-bottom: 5px; }
  .recipe-form input[type="text"], .recipe-form textarea {
    margin-bottom: 20px;
    padding: 5px;
    width: 500px; }
  .recipe-form textarea {
    height: 200px; }
  .recipe-form div {
    background-color: #8BC13F;
    box-sizing: border-box;
    cursor: pointer;
    height: 50px;
    padding: 10px;
    text-align: center;
    width: 160px; }
  .recipe-form input[type="submit"] {
    background-color: #8BC13F;
    box-sizing: border-box;
    border: 1px solid #333333;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
    width: 140px; }

/*# sourceMappingURL=main.css.map */
