.recipe-form {
    margin: 0 auto 50px auto;
    width: 70%;

    @media (max-width: 750px) {
        width: 95%;
    }

    label, input, textarea {
        display: block;
    }

    label {
        margin-bottom: 5px;
    }

    input[type="text"], textarea {
        margin-bottom: 20px;
        padding: 5px;
        width: 500px;

        @media (max-width: 750px) {
            width: 400px;
        }

        @media (max-width: 500px) {
            width: 300px;
        }
    }

    textarea {
        height: 200px;
    }

    div {
        background-color: $primary-green;
        box-sizing: border-box;
        cursor: pointer;
        height: 50px;
        padding: 10px;
        text-align: center;
        width: 160px;
    }

    input[type="submit"] {
        background-color: $primary-green;
        box-sizing: border-box;
        border: 1px solid $black;
        cursor: pointer;
        height: 30px;
        font-size: 20px;
        width: 140px;
        -webkit-appearance: none;
    }
}
