.recipe {
    margin: 0 auto 50px auto;
    width: 70%;

    @media (max-width: 1050px) {
        width: 90%;
    }

    @media (max-width: 725px) {
        width: 100%;
    }

    .title {
        border: 2px solid $primary-green;
        box-sizing: border-box;
        margin-bottom: 30px;
        padding: 50px 100px;
        text-align: left;

        @media (max-width: 1050px) {
            padding: 50px;
        }

        @media (max-width: 725px) {
            border-left: 0px;
            border-right: 0px;
            padding: 30px;
            text-align: center;
        }

        h2 {
            display: block;
            font-size: 40px;
        }

        h4 {
            color: $primary-green;
            padding-top: 10px;
        }

        div {
            display: inline-block;
        }

        .button {
            background-color: #333333;
            box-sizing: border-box;
            cursor: pointer;
            float: right;
            height: 60px;
            margin: 0 auto;
            padding: 10px;
            width: 200px;

            @media (max-width: 725px) {
                display: block;
                float: none;
                margin-top: 20px;
            }

            button {
                background-color: #333333;
                border: 1px solid white;
                color: #FFF;
                cursor: pointer;
                height: 40px;
                font-size: 18px;
                font-style: italic;
                text-transform: lowercase;
                width: 180px;
            }
        }
    }

    .content-row-one {
        display: flex;
        justify-content: space-between;

        @media (max-width: 875px) {
            display: block;
        }

        img {
            border: 2px solid $black;
            box-sizing: border-box;
            height: 400px;
            margin-bottom: 30px;
            object-fit: cover;
            width: 100%;

            @media (max-width: 725px) {
                border-left: 0px;
                border-right: 0px;
            }

        }

        img.with-background {
            width: 60%;

            @media (max-width: 875px) {
                width: 100%;
            }
        }

        .background {
            box-sizing: border-box;
            border: 2px solid $light-grey;
            margin-bottom: 30px;
            padding: 30px;
            vertical-align: top;
            width: 38%;

            @media (max-width: 875px) {
                border: 2px solid $primary-green;
                width: 100%;
            }

            @media (max-width: 725px) {
                border-left: 0px;
                border-right: 0px;
            }

            h2 {
                font-size: 26px;
                padding-bottom: 10px;
            }

            p {
                font-size: 18px;
                line-height: 1.3;
            }
        }
    }

    .directions {
        border: 2px solid $light-grey;
        padding: 30px;

        @media (max-width: 725px) {
            border-left: 0px;
            border-right: 0px;
        }

        h2 {
            font-size: 26px;
            padding-bottom: 10px;
        }

        ul, .ingredients {
            padding-bottom: 30px;
        }

        p, li {
            font-size: 18px;
            line-height: 1.3;
        }
    }
}
