nav {
    text-align: center;

    a {
        text-decoration: none;
    }

    h1 {
        color: $primary-orange;
        font-size: 60px;
        letter-spacing: 2px;
        margin: 20px 10px 20px 10px;
        text-transform: lowercase;
    }

    @media (max-width: 650px) {
        h1 {
            font-size: 40px;
        }
    }

    p {
        font-size: 26px;
        margin-top: 20px;
    }
}
