@font-face {
    font-family: 'Grandesign-Neue-Roman-Bold';
    src:url('/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.woff') format('woff'),
        url('/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.svg#Grandesign-Neue-Roman-Bold') format('svg'),
        url('/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.eot'),
        url('/static/public/fonts/Grandesign-Neue-Roman-Bold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
